<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hande.hzero.order.infra.mapper.ItemMapper">

    <select id="listItem" resultType="com.hande.hzero.order.domain.entity.Item">
        select
        item_code, item_description
        from
        hodr_item
        where
        item_code LIKE CONCAT(CONCAT('%', #{itemCode}), '%')
        and
        item_description LIKE CONCAT(CONCAT('%', #{itemDescription}), '%')
        and
        1 = #{organizationId}
    </select>

</mapper>